/* Your app custom styles here */

body{

background: rgba(13, 12, 12, 0.94);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14.1px);
-webkit-backdrop-filter: blur(14.1px);
border: 1px solid rgba(13, 12, 12, 0.3);
} 


.external.link{
    display: block;
}
#apps{
    height: 100vh;
    border: solid, blanchedalmond;
    
}


h1{
    text-align: center;
color: aliceblue;
}

#Contenair{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}


#uri{
    color: aliceblue;
    width: 200px;
    margin: 0px;
}
 ul{
    background-color: transparent;
 }
 li{
    background-color: transparent;
 }
.item-content.item-input.item-input-outline{
     background-color: transparent;
}
.list.list-strong-ios.list-dividers-ios.inset-ios{
    margin: 0;
     background-color: transparent;
}

.button.button-tonal{
    width: 50px;
    
    height: 50px;
    padding: 15px;
     background-color: transparent;
    color: aliceblue;
}

.button.button-large.button-raised.button-fill{
    width: 300px;
    margin: 50px;
    background-color: rgb(77, 74, 74);
    color: aliceblue;
}

.button.button-large.button-raised.button-fill:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.button.button-large.button-raised.button-fill:active{
    opacity: 0.5;
}